.ballanim.quant.floyd {
	background: url('../ballanim-stitched-quant.png');
}

.ballanim.quant.nofloyd {
	background: url('../ballanim-stitched-nofloyd-quant.png');
}

.ballanim {
	display: inline-block;
}
